<a href="https://colab.research.google.com/github/ScottHeiron/Academy_script/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#hello

In [1]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here:
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
  0% 0.00/11.6M [00:00<?, ?B/s]
100% 11.6M/11.6M [00:00<00:00, 146MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 21.1MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7+3
7-3
7*3
21/2
21//2 #floor division
21%2 #modulo
21**2 #exponential

441

In [ ]:
a=3
b=4
b
a

#Running this section will run all bits of in the section but will give the last output given (in this case a and not b)
#If a = 10 elsewhere, running this will make a=3

3

In [ ]:
c=a+b

In [ ]:
b=c-b

In [ ]:
b

3

In [ ]:
c

7

In [ ]:
a

3

In [ ]:
b+C

NameError: ignored

In [ ]:
a=10 #Definition

In [ ]:
a==10 #Comparison

True

In [ ]:
a==9
a<=9

False

In [ ]:
a<=3
a>3

True

In [ ]:
#Variable names are case sensitive.
Beautiful_Variable = 3
beautiful_variable = 4
Beautiful_Variable

3

In [ ]:
cities = ['Paris','Zurich','Rome','Berlin','London']
cities

['Paris', 'Zurich', 'Rome', 'Berlin', 'London']

In [ ]:
type(cities)

list

In [ ]:
cities[0]
#First element of a list is the 0th element

'Paris'

In [ ]:
cities[-2]
# minus will give the element from the end

'Berlin'

In [ ]:
cities[1]

'Zurich'

In [ ]:
cities[2]='Milan'
#Can easily update the (n+1)th element of a list
cities

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']

In [ ]:
cities.insert(2,'HK')
print(cities)
#Inserts element in the 2nd position and pushes everything by 1

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']

In [ ]:
cities.append('Rio')
print(cities)
#Appends adds to the end

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']

In [ ]:
cities.remove('Paris')
print(cities)
#Removes first occurence of element to be removed

['Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Rio']

In [ ]:
cities.insert(2,848)
print(cities)
cities.append(848)
print(cities)
#Using print, you can see multiple outputs in the same code

['Zurich', 'HK', 848, 848, 'Milan', 'Berlin', 'London', 'Rio', 848]
['Zurich', 'HK', 848, 848, 'Milan', 'Berlin', 'London', 'Rio', 848, 848]

In [ ]:
cities

['Zurich', 'HK', 848, 'Milan', 'Berlin', 'London', 'Rio', 848]

In [ ]:
Rome='Naples'
cities.insert(2,Rome)
print(cities)

['Zurich', 'HK', 'Naples', 'Naples', 'Naples', 'Naples', 848, 848, 'Milan', 'Berlin', 'London', 'Rio', 848, 848]

In [ ]:
cities.insert(2,Naples) #this would not work as Naples is treated as a variable which has not been defined

NameError: ignored

In [ ]:
seven=7
cities.insert(4,seven)
print(cities)

['Zurich', 'HK', 'Naples', 'Naples', 7, 'Naples', 'Naples', 848, 848, 'Milan', 'Berlin', 'London', 'Rio', 848, 848]

In [ ]:
cities.append("Dumont d'Urville") #Double quotes can take anything inside it, even single quotes such as the one in this statement - #'Dumont d'Urville' wouldn't be recognised in the function
print(cities.index("Dumont d'Urville")) #Finds where the element is

1

In [ ]:
val = -0
if val > 0:
  print('The value is positive')
elif val < 0:
  print('The value is negative')
else:
  print('It is zero')

#Can have as many elif as you need

It is zero

In [ ]:
if 7 not in [0,1,2,3,4]:
  print('Indeed')

Indeed

In [ ]:
a='1'
b='2'
if a is b:
  print('nice')

if a is not b:
  print('still nice')

  #Can use is to compare strings and values

  c=1
  d=1
  if c is d:
    print('crackin')
    
  if c is not d:
    print('still crackin')

still nice
crackin

In [ ]:
fruits = ['apple','pear','cherry']
for i in fruits:
  print(i)

  #Printing each element in the list

apple
pear
cherry

In [ ]:
list_of_lists = [['a','b','c'],[1,2,3]]
list_of_lists

for sub_list in list_of_lists: #sub_list acts as a local variable within list_of_lists and doesn't need to be defined prior
  print("We treat the list: ",sub_list)

  for element in sub_list: #element acts as a local variable within sub_list
    print('We display the element: ',element)

We treat the list:  ['a', 'b', 'c']
We display the element:  a
We display the element:  b
We display the element:  c
We treat the list:  [1, 2, 3]
We display the element:  1
We display the element:  2
We display the element:  3

In [ ]:
length=87
width=54
area=length*width
area

4698

In [ ]:
def AREA(Length,Width): #Defining and using a function
  my_area=Length*Width
  return my_area

print(AREA(87,54))
print(AREA(55,5))

4698
275

In [ ]:
last_list = [1,2,3,4,5,888,6,7,888,8,9] #Removing all of a type of element

valueToBeRemoved = 888
last_list = [value for value in last_list if value != valueToBeRemoved]
print(last_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
import pandas as pd
#importing library name pandas as pd

import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [4]:
df = pd.read_csv('/content/winequality-red.csv')

In [5]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [6]:
df.head()
#Gives first 5 of the table

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
df.head(12)
#Gives first 12 of the table

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
10,6.7,0.58,0.08,1.8,0.097,15.0,65.0,0.9959,3.28,0.54,9.2,5
11,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [9]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [10]:
df.tail(8)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [11]:
df.sample(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
361,8.6,0.45,0.31,2.6,0.086,21.0,50.0,0.99820,3.37,0.91,9.9,6
522,8.2,0.39,0.49,2.3,0.099,47.0,133.0,0.99790,3.38,0.99,9.8,5
1540,6.2,0.52,0.08,4.4,0.071,11.0,32.0,0.99646,3.56,0.63,11.6,6
1060,11.6,0.23,0.57,1.8,0.074,3.0,8.0,0.99810,3.14,0.70,9.9,6
1503,6.2,0.44,0.39,2.5,0.077,6.0,14.0,0.99555,3.51,0.69,11.0,6

In [13]:
df.sample(8,random_state=77777)
#Random state gives same random numbers every time

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
474,10.5,0.280,0.51,1.7,0.080,10.0,24.0,0.99820,3.20,0.89,9.400000,6
208,7.8,0.440,0.28,2.7,0.100,18.0,95.0,0.99660,3.22,0.67,9.400000,5
1237,7.1,0.750,0.01,2.2,0.059,11.0,18.0,0.99242,3.39,0.40,12.800000,6
620,8.3,0.540,0.24,3.4,0.076,16.0,112.0,0.99760,3.27,0.61,9.400000,5
1475,5.3,0.470,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,13.566667,7
187,7.7,0.705,0.10,2.6,0.084,9.0,26.0,0.99760,3.39,0.49,9.700000,5
1379,7.5,0.570,0.02,2.6,0.077,11.0,35.0,0.99557,3.36,0.62,10.800000,6
759,8.8,0.420,0.21,2.5,0.092,33.0,88.0,0.99823,3.19,0.52,9.200000,5

In [14]:
df.dtypes
#shows data types of the table

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [15]:
df.describe()
#Gives some statistics of the dataset

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [16]:
df.info()
#Gives some other info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [19]:
df.shape

(1599, 12)

In [20]:
len(df)

1599

In [21]:
df['fixed acidity'].head()
#Only one square bracket for one element

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed acidity, dtype: float64

In [22]:
df[['fixed acidity','volatile acidity']].head()

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88
2            7.8              0.76
3           11.2              0.28
4            7.4              0.70

In [23]:
df[['fixed acidity','volatile acidity','quality']].head()
#2 square brackets for more than one

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5
2            7.8              0.76        5
3           11.2              0.28        6
4            7.4              0.70        5

In [24]:
df['fixed acidity']>7

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [25]:
mask1 = df['fixed acidity']>7

In [26]:
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [27]:
df[mask1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [28]:
df[mask1].min()

fixed acidity           7.10000
volatile acidity        0.12000
citric acid             0.00000
residual sugar          0.90000
chlorides               0.03800
free sulfur dioxide     1.00000
total sulfur dioxide    6.00000
density                 0.99007
pH                      2.74000
sulphates               0.33000
alcohol                 8.40000
quality                 3.00000
dtype: float64

In [29]:
temp = df[mask1]

In [30]:
df['fixed acidity'].between(7,8)

0        True
1        True
2        True
3       False
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [31]:
mask2=df['fixed acidity'].between(7,8)

In [32]:
temp=df[mask2][['pH','quality']]

In [33]:
temp.head()

     pH  quality
0  3.51        5
1  3.20        5
2  3.26        5
4  3.51        5
5  3.51        5

In [34]:
df[mask2][['pH','quality']].sample(n=100,random_state=893717398).nunique()

pH         42
quality     4
dtype: int64

In [37]:
mask3 = (((df['residual sugar']>=2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
temp = df[mask3]
temp
# Filtering for the following data
# | means OR

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [36]:
mask3

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598     True
Length: 1599, dtype: bool

In [38]:
df[mask3].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000,893.000000
mean,8.166181,0.551013,0.240862,2.663942,0.082759,15.787234,47.243001,0.996726,3.325969,0.586439,10.353210,5.530795
std,1.637488,0.176767,0.188316,1.512533,0.026202,10.343299,34.579307,0.001889,0.148147,0.074673,1.024548,0.756440
min,4.700000,0.160000,0.000000,0.900000,0.012000,3.000000,6.000000,0.990070,2.880000,0.330000,8.500000,3.000000
25%,7.100000,0.420000,0.080000,1.800000,0.071000,7.000000,21.000000,0.995600,3.220000,0.540000,9.500000,5.000000
50%,7.800000,0.550000,0.220000,2.400000,0.080000,14.000000,38.000000,0.996800,3.320000,0.590000,10.100000,5.000000
75%,9.000000,0.660000,0.390000,2.800000,0.089000,21.000000,65.000000,0.997870,3.410000,0.640000,11.000000,6.000000
max,15.600000,1.330000,0.780000,15.500000,0.387000,72.000000,289.000000,1.003200,4.010000,0.730000,13.600000,8.000000

In [39]:
len(df[mask3])

893

In [40]:
df[mask3]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [41]:
def citric_acid_cat(x):
  if x < 0.21:
    return 'A'
  elif x < 0.3:
    return 'B'
  else:
    return 'C'

In [42]:
df['NEW_NAME_citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [43]:
df['NEW_NAME_citric_cat']

0       A
1       A
2       A
3       C
4       A
       ..
1594    A
1595    A
1596    A
1597    A
1598    C
Name: NEW_NAME_citric_cat, Length: 1599, dtype: object

In [45]:
df['NEW_NAME_citric_cat'].sample(5)

685    B
823    A
537    B
816    A
51     A
Name: NEW_NAME_citric_cat, dtype: object

In [46]:
df = df.drop(columns=['NEW_NAME_citric_cat'])

In [47]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [49]:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric acid'] != 'A'))

In [50]:
df[mask5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1582,6.1,0.715,0.10,2.6,0.053,13.0,27.0,0.99362,3.57,0.50,11.9,5
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [55]:
lst_cat_to_keep = ['A','B','P','W']

In [57]:
mask6 = ((df['sulphates'] < 0.7301) & (df['citric acid'].isin(lst_cat_to_keep)))

In [59]:
mask6

0       False
1       False
2       False
3       False
4       False
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Length: 1599, dtype: bool

In [60]:
df[mask6]

Empty DataFrame
Columns: [fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

In [66]:
df['Y'] = np.where(df['quality']>7, 1, 0)

In [67]:
df['Y']

0       0
1       0
2       0
3       0
4       0
       ..
1594    0
1595    0
1596    0
1597    0
1598    0
Name: Y, Length: 1599, dtype: int64

In [68]:
df['Y2'] = np.where(df['quality']>7, 1, df['quality'])

In [69]:
df['Y2']

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: Y2, Length: 1599, dtype: int64

In [71]:
df.sample(n=5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Y,Y2
263,7.9,0.370,0.23,1.80,0.077,23.0,49.0,0.99630,3.28,0.67,9.3,5,0,5
399,8.7,0.765,0.22,2.30,0.064,9.0,42.0,0.99630,3.10,0.55,9.4,5,0,5
1002,9.1,0.290,0.33,2.05,0.063,13.0,27.0,0.99516,3.26,0.84,11.7,7,0,7
542,9.3,0.715,0.24,2.10,0.070,5.0,20.0,0.99660,3.12,0.59,9.9,5,0,5
359,12.6,0.380,0.66,2.60,0.088,10.0,41.0,1.00100,3.17,0.68,9.8,6,0,6